aiohttp>=3.13.1
APScheduler>=3.11.0
matplotlib>=3.10.7
mplfinance>=0.12.10b0
numpy>=2.3.4
pandas>=2.3.3
python-telegram-bot>=22.5
pytz>=2025.2
requests>=2.32.5
TA-Lib>=0.6.8
async-timeout>=5.0.1
attrs>=25.4.0
certifi>=2025.10.5
charset-normalizer>=3.4.4
cryptography>=46.0.3
python-dateutil>=2.9.0.post0
six>=1.17.0
urllib3>=2.5.0
websockets>=15.0.1
yarl>=1.22.0